@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Epilogue", sans-serif;
}
button:hover {
    cursor: pointer;
    color: black;
}
header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 15vh;
    width: 100%;
    padding: 0% 5% 0 5%;
    align-items: center;
}
.header-left {
    display: grid;
    grid-template-columns: 1fr 6fr;
    width: 100%;
    align-items: center;
}
header #logo-img {
    width: 100px;
}
header #logo-img:hover {
    cursor: pointer;
}
.header-right {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    justify-self: end;
}
.header-right button {
    margin: 0% 5% 0% 5%;
}
.header-btn-container {
    display: flex;
}
.header-btn-container button {
    padding: 0% 5% 0% 5%;
}
header button {
    width: max-content;
    font-size: 1em;
}
header button:hover {
    text-shadow: 0px 0px 0.5px black;
}
.header-btns {
    background: none;
    border: none;
    color: #696969;
}
.features-section {
    display: flex;
    margin: 0% 5% 0% 5%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
#features-dropdown-btn {
    color: #696969;
    text-decoration: none;
}
#features-dropdown-btn:hover {
    color: black;
}
.features-menu {
    display: none;
    position: absolute;
    margin-top: 30px;
    align-items: center;
    width: 7rem;
    justify-content: space-between;
    border-radius: 10px;
    /* border: 1px solid black; */
    box-shadow: 20px 20px 300px gray;
}
.features-menu button {
    font-size: small;
    color: #696969;
    background: none;
    border: none;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
.company-section {
    height: max-content;
    display: flex;
    margin: 0% 5% 0% 5%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.company-menu {
    display: none;
    position: absolute;
    margin-top: 30px;
    align-items: center;
    width: 7rem;
    justify-content: space-between;
    border-radius: 10px;
    /* border: 1px solid black; */
    box-shadow: 20px 20px 300px gray;
}
.company-menu button {
    font-size: small;
    color: #696969;
    background: none;
    margin: 0;
    border: none;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
#company-dropdown-btn {
    color: #696969;
    text-decoration: none;
}
#company-dropdown-btn:hover {
    color: black;
}
#register-btn {
    background: none;
    color: #696969;
    border: 1px solid #696969;
    border-radius: 20px;
    padding: 5%;
}
#register-btn:hover {
    box-shadow: 0px 0px 2px black;
    color: black;
}
#hamburger-btn {
    display: none;
    background: none;
    border: none;
}
main {
    width: 70%;
    margin: 5% auto;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
}
.main-left {
    display: flex;
    padding: 10%;
    flex-direction: column;
}
.main-left h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
}
.main-left p {
    font-size: 20px;
    color: #696969;
    margin-bottom: 2rem;
}
.main-left button {
    font-size: 1rem;
    width: 150px;
    padding: 1rem;
    color: white;
    background: black;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 2rem;
}
.main-left button:hover {
    background: white;
    color: black;
    border: 2px solid black;
}
.clients img {
    width: 100px;
    margin: 1rem;
}
#desktop-pic {
    max-width: 100%;
    max-height: 600px;
}
#mobile-pic {
    display: none;
}
.overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    z-index: 0;
}

/* media queries to change the display layout */
@media screen and (max-width: 980px) {
    main {
        width: 90%;
        display: flex;
        flex-direction: column-reverse;
    }
    .main-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        max-width: 100%;
        height: max-content;
    }
    .main-left h1 {
        margin: 1rem;
        font-size: 30px;
        text-align: center;
    }
    .main-left p {
        margin: 1rem;
        text-align: center;
    }
    .clients {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    #desktop-pic {
        display: none;
        padding: 2rem;
    }
    .main-right {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #mobile-pic {
        display: block;
        width: 90%;
    }
}

/* media queries to make the buttons disappear */
@media screen and (max-width: 750px) {
    header #logo-img {
        width: 100px;
    }
    header-right button {
        display: none;
    }
    #hamburger-btn {
        display: block;
        background: none;
        border: none;
    }
    .side-nav-right {
        display: flex;
        align-items: center;
        flex-direction: column;
        z-index: 1;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 2;
        top: 0;
        right: 0;
        background-color: white;
        overflow-x: hidden;
        transition: 0.25s;
        padding-top: 10%;
    }
}
